---
import "@/styles/global.css"
import { LoginForm } from "@/components/LoginForm"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Login - Laraigo</title>
	</head>
	<body class="min-h-screen bg-slate-50 font-sans antialiased">
		<main>
			<LoginForm client:load />
		</main>
	</body>
</html>
